* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* header bar */
header {
    display:  flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: gray;
    align-items: center;
    width: 100%;
    text-align: center;
}

header nav {
    display:  flex;
    background-color: #5e7fef;
    width: 100%;
    justify-content: center;
}

header nav ul li {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #5e7fab;
    border: 1px dotted black;
    padding: 2px 60px 2px 60px;
    margin: 5px;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

main {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    margin: 20px;
}

/* sidebar display */
main aside {
    border: 1px solid black;
    border-right: 1px solid orange;
    padding: 5px 20px 5px;
    margin: 10px;
    font-size: 40px;
}

main aside section {
    display: flex;
    padding: 20px;
    border: 1px solid blue;
    margin: 10px 5px 10px;
}

/* content display */
main article {
    flex: 3 0;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px 20px 5px;
    margin: 10px;
}

main article section {
    margin: 20px 5px 20px;
    display: flex;
    padding: 20px;
    border: 1px solid blue;
    margin: 10px 5px 10px;
    flex-wrap: wrap;
}

main article section ul {
    list-style: circle;
}

/* pilot background */
.pilot {
    display: flex;
    flex: 1 0 200px;
    height: 300px;
    width: 100%;
    margin-bottom:25px;
    background-image: url(../images/pilot_background.jpg);
    background-size: cover;
    background-position: center;
}