:root {
    --light: #fff;
    --dark: #13293d;
    --banner: #5683ee;
}

/* universal selector */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

/* header styling */

header {
    color: var(--light);
    background: var(--dark);
    text-align: center;
}

header h1 {
    font-size: 50px;
    padding: 20px 40px;
}

header section {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

header section h3 {
    background-color: var(--banner);
    padding: 33px;
    padding-left: 50px;
    font-size: 30px;
    border-top: 2px solid var(--light);
    border-bottom: 2px solid var(--light);
}

header section figure {
    height: 100px;
    width: 100px;
    background-image: url(../images/Cat-min.png);
    background-size: cover;
    background-position: right;
    border-radius: 0 20px 20px 0;
    border: 2px solid var(--light);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 30px;
}

header nav ul li {
    padding: 10px;
    background-color: var(--banner);
    border: 2px solid var(--light);
    border-radius: 20px;
    margin: 0 5vw;
}

header nav ul li a {
    color: var(--light);
    text-decoration: none;
}

/* body styling */

main article {
    margin: 5px 20px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center; */
}

main article section {
    margin: 20px 0;
    padding: 5px;
}

/* about me class selectors */
.aboutMe {
    display: flex;
    flex: 2 1 200px;
    height: 70vh;
    width: 100%;
    padding: 40px;
}

.aboutMe h2,
.aboutMe div {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.aboutMe h2 {
    font-size: 40px;
    padding-right: 58px;
    border-right: 5px solid lightblue;
}

.aboutMe p {
    padding: 0 0 20px;
    line-height: 1.5;
}

/* my work class selectors */
.myWork {
    display: flex;
    height: 140vh;
    width: 100%;
    padding: 40px;
}

.myWork h2,
.myWork section {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.myWork h2 {
    font-size: 40px;
    border-right: 5px solid lightblue;
}

.myWork section {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
}

.myWork section div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.myWork section button {
    display: flex;
    border: 4px solid var(--dark);
    border-radius: 20px;
    margin: 5px;
  }

.myWork section button:hover {
    box-shadow: 0 0 20px var(--dark) inset;
    cursor: pointer;
}

.myWork section button:focus {
    border: 4px solid lightblue;
    box-shadow: 0 0 20px var(--dark) inset;
    z-index:2;
}

.myWork section button p {
    background-color: var(--banner);
    max-height: 70px;
    padding: 18px;
    padding-left: 50px;
    border-radius: 0 20px 20px 0;
    border: 2px solid var(--light);
    border-left: 0;
    margin-top: 20px;
    font-size: 20px;
    color: var(--light);
}

/* my work id selectors */
#cats {
    height: 600px;
    width: 100%;
    background-image: url(../images/coal.jpg);
    background-size: cover;
    background-position: center;
}

#pilot {
    height: 300px;
    width: 49%;
    background-image: url(../images/titanfall2.jpg);
    background-size: cover;
    background-position: center;
}

#anime {
    height: 300px;
    width: 49%;
    background-image: url(../images/anime.jpg);
    background-size: cover;
    background-position: center;
}

#minecraft {
    height: 300px;
    width: 49%;
    background-image: url(../images/minecraft.jpg);
    background-size: cover;
    background-position: center;
}

#food {
    height: 300px;
    width: 49%;
    background-image: url(../images/cookies.jpg);
    background-size: cover;
    background-position: center;
}

/* contact list class selectors */
.contactList {
    display: flex;
    height: 15vh;
    width: 100%;
    padding: 40px;
}

.contactList h2,
.contactList nav {
    vertical-align: top;
    padding: 10px;
}

.contactList h2 {
    font-size: 40px;
    border-right: 5px solid lightblue;
}

.contactList nav ul li {
    display: inline;
    margin: 0 50px 0;
    word-spacing: 20px;
    color: var(--dark);
    text-decoration: underline;
    cursor: pointer;
}

.contactList nav ul li[data-phone]:hover::after {
    content: attr(data-phone);
    text-decoration: none;
    position:relative;
    left: 10px;
    min-width: 100px;
    border: 1px solid #aaaaaa;
    background-color: #13293d;
    padding: 12px;
    color: #fff;
    font-size: 14px;
    z-index:1;
}

.contactList nav ul li[data-email]:hover::after {
    content: attr(data-email);
    text-decoration: none;
    position:relative;
    left: 10px;
    min-width: 100px;
    border: 1px solid #aaaaaa;
    background-color: #13293d;
    padding: 12px;
    color: #fff;
    font-size: 14px;
    z-index:1;
}

.contactList nav ul li[data-github]:hover::after {
    content: attr(data-github);
    text-decoration: none;
    position:relative;
    left: 10px;
    min-width: 100px;
    border: 1px solid #aaaaaa;
    background-color: #13293d;
    padding: 12px;
    color: #fff;
    font-size: 14px;
    z-index:1;
}

/* footer styling */

footer {
    color: var(--light);
    background: var(--dark);
    text-align: center;
    padding: 30px;
}