:root {
    --light: #fff;
    --dark: #13293d;
}

/* universal selector */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

/* header styling */

header {
    color: #fff;
    background: var(--dark);
    text-align: center;
}

header h1 {
    font-size: 50px;
    padding: 20px 40px;
    box-shadow: 0 30px 40px 40px rgba(0,0,0,.1);
}

header section {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

header section h3 {
    background-color: #5683cc;
    padding: 33px;
    padding-left: 50px;
    font-size: 30px;
    border-top: 2px solid var(--light);
    border-bottom: 2px solid var(--light);
}

header section figure {
    height: 100px;
    width: 100px;
    background-image: url(../images/Cat-min.png);
    background-size: cover;
    background-position: right;
    border-radius: 0 20px 20px 0;
    border: 2px solid var(--light);
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 30px;
}

header nav ul li {
    padding: 10px;
    background-color: #5683ee;
    border: 2px dotted black;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* body styling */

main article {
    margin: 5px 20px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

main article section {
    margin: 20px 0;
    border: 1px solid red;
    padding: 5px;
}

.aboutMe {
    display: flex;
    height: 400px;
    width: 1500px;
    border: 1px solid green;
    padding: 40px;
}

.aboutMe h2,
.aboutMe div {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.aboutMe h2 {
    border-right: 5px solid lightblue;
}

.myWork {
    display: flex;
    height: 600px;
    width: 1500px;
    border: 1px solid green;
    padding: 40px;
}

.myWork h2,
.myWork div {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.myWork h2 {
    border-right: 5px solid lightblue;
}

/* contact list properties */
.contactList {
    display: flex;
    height: 200px;
    width: 1500px;
    border: 1px solid green;
    padding: 40px;
}

.contactList h2,
.contactList nav {
    vertical-align: top;
    padding: 10px;
}

.contactList h2 {
    border-right: 5px solid lightblue;
}

.contactList nav ul li {
    display: inline;
    margin: 0 50px 0;
    word-spacing: 20px;
}

.contactList nav ul li[data-phone]:hover::after {
    content: attr(data-phone);
    text-decoration: none;
    position:relative;
    left: 10px;
    min-width: 100px;
    border: 1px solid #aaaaaa;
    background-color: #13293d;
    padding: 12px;
    color: #fff;
    font-size: 14px;
    z-index:1;
}

.contactList nav ul li[data-email]:hover::after {
    content: attr(data-email);
    text-decoration: none;
    position:relative;
    left: 10px;
    min-width: 100px;
    border: 1px solid #aaaaaa;
    background-color: #13293d;
    padding: 12px;
    color: #fff;
    font-size: 14px;
    z-index:1;
}

.contactList nav ul li[data-github]:hover::after {
    content: attr(data-github);
    text-decoration: none;
    position:relative;
    left: 10px;
    min-width: 100px;
    border: 1px solid #aaaaaa;
    background-color: #13293d;
    padding: 12px;
    color: #fff;
    font-size: 14px;
    z-index:1;
}